
.app{
  // background-color: white;
  padding-top: 10px;
  width: 400px;
  margin: 0 auto;
  height: 100%;
  padding-bottom: 40px;
  }

   .contact-image{
    display: none;
    
  }

.sushi {
  margin:0;
  padding:0;
  box-sizing: border-box;
  
  
  .form {
    height: 100vh;
    display: flex;
   flex-direction: column;
   justify-content: center;
  
   
   

  // h1{
  //   margin-left: 103px;
  // }
  
  ul{
    display: flex;
    flex-direction: column;
        
        li{
          
          padding: 0 0 20px 0;
          color: #7314ff;
        }

  }
        
}
}




span{
  font-weight: bold;
  color: #7314ff;
  padding-right: 10px;
}

.form  label{
  padding-bottom: 10px;
  color: #3f3f3f;
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 10px;
}

.form  textarea{
  height: 150px;
  max-width: 400px;
  min-height: 100px;
  border-radius: 0.5em;
  border-width: 1px;
}

.form input{
  border-radius: 0.5em;
  border-width: 1px;
}

input::placeholder {
  color: #3f3f3f;
  font-size: 0.9em;
  font-family: 'Poppins';
  padding: 0px 0px 0px 20px;
}

textarea::placeholder {
  color: #3f3f3f;
  font-size: 0.9em;
  font-family: 'Poppins';
  padding: 0px 0px 0px 20px;
}

.form  button{
  padding: 20px;
  border: none;
  background-color: #7314ff;
  font-weight: 500;
  font-size: 20px;
  border: none;
  border-radius: 1em;
  color: #fff;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  margin-top: 10px;
}

.form button:hover{
  background-color: #6700ee;
}

.card-form{
 background: #7314ff;
}

.form{
  background: white;
  padding: 0em 2em 2em 2em;
  border-radius: 1em;
  margin-bottom: 1em;
  margin-top: 3em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}




@media screen and (max-width: 600px) {
  .fresh {
    width: 100%;
  }
}




@media only screen and (min-width: 1050px) {

  .app{
    display: grid;
    grid-template-columns: 90% auto;
    justify-content: center;
    
  }

  .form{
    // display: grid;
    
   
  }

  .contact-image {
    // display: grid;
    // padding-right: 50px;

    margin-left: 0;

    display: flex;
        justify-content:space-around;
        width: 30em;
        float: left;
        margin: 0;
        padding-right: 3em 5em 3em 5em;

    
    

  }



  
  }

  @media only screen and (min-width: 1250px) {
    
  }

  @media only screen and (min-width: 1250px) {
    
    }
  
  @media only screen and  (min-width: 1550px){
      
    }


