.social-footer {
  display: flex;
  background: #6700ee;
  grid-template-columns:  repeat(3 auto);
  height: 100%;
      ul{
        display: flex;
        justify-content: space-between;
        width: 7em;
        padding-left: 20px;

        img{
          width: 20px;
          padding-top: 10px;
          padding-bottom: 10px;
          

        }

        
      }
  
    
     
    }

    


