.nav-container {
  background: #6700EE;


  a {
   color: white; 
  }
}

header {
  display: flex;
  justify-content: space-between;
  padding: 2em;

  .logo {
    color: #00F7FF;
    font-weight: bold;
  }

  nav {
    // float: right;

    ul{
      display: flex;

      a {
        display: block;
        padding: 0 1em;
      }
    }
  }
}

.social-header {
  display: none;
}

@media only screen and (min-width: 1050px) {

  .nav-container{
    display: grid;
    grid-template-columns: 66% auto;
    background: unset;

    header{
      background: #6700EE;
    }
  }

  header {
    padding: 2em 2em 2em 4em;
  }

  .social-header{
    padding: 2em 4em 2em 0;
  }

  section {
    padding: 4em;
  }

  .social-header {
    display: block;
      ul {
        display: flex;
        justify-content: space-between;
        width: 7em;
        float: right;

        img {
          width: 20px;
        }
      }
  }

  
  }

  @media only screen and (min-width: 1250px) {
    header {
      padding: 2em 2em 2em 10em;
    }
    .social-header{
      padding: 2em 10em 2em 0;
    }
    section{
      padding: 10em 10em 4em 10em;
    }
  }

  @media only screen and (min-width: 1250px) {
    section{
      padding: 10em 10em 4em 10em;
    }
  
    .hero .content{
      padding: 6em 8em 6em 10em;
    }
    }
  
  @media only screen and  (min-width: 1550px){
      section{
        padding: 6em 20em 4em 20em;
      }
  
      header{
        padding: 2em 2em 2em 20em;

      }

      .social-header{
        padding: 2em 20em 2em 20em;
      }
    }